# Análise Exploratória dos Dados (_Exploratory Data Analysis_ - EDA)

__Autoria:__ Sabrina Paes Leme P. Correa (paeslemesa@gmail.com) <br>
__Criação:__ 16/04/2024 <br>
__Modificação:__ 16/04/2024

__Descrição:__ Este tutorial mostra como fazer uma análise exploratória de dados usando ferramentas estatísticas. A minha recomendação é usar este material como base, mas não se esqueça de explorar diferentes métodos e estatísticas.

__Referências:__ 
* https://rasterio.readthedocs.io/en/latest/topics/masking-by-shapefile.html

## 1. Importando bibliotecas e dados

In [2]:
from pathlib import Path # para manipulação de arquivos

import numpy as np # para manipulação de arrays

import pandas as pd # para manipulação de dataframes


# Vamos nos basear nestas três bibliotecas para alguns gráficos
import matplotlib.pyplot as plt # para plotar gráficos
import seaborn as sns # para plotar gráficos
import plotly.express as px # para plotar gráficos

Vamos abrir o arquivo CSV que geramos do [Tutorial 4](https://github.com/paeslemesa/tutoriaisPython/blob/main/05_Transformar_Shapes_em_Amosrtas_ML.ipynb), onde são amostras das bandas RGB + NIR do Sentinel-2 de uma área da Amazônia

In [3]:
diretorio = Path("D:/Pesquisa/Artigo_Mestrado/00_Dados") # lembre-se de colocar "barra (/)" ao invés de "contra-barra (\)"

arquivo = Path(diretorio, "amostras_aoi.csv") # arquivo que vamos abrir, está em CSV

In [4]:
df = pd.read_csv(arquivo) # abrindo o arquivo CSV
df.head()

   classe    azul   verde  vermelho     nir      ndvi
0       1  0.1323  0.1467    0.1256  0.4272  0.545586
1       1  0.1291  0.1460    0.1251  0.4213  0.542094
2       1  0.1262  0.1460    0.1221  0.3980  0.530475
3       1  0.1255  0.1438    0.1215  0.4216  0.552569
4       1  0.1281  0.1429    0.1236  0.3646  0.493650